* {
    margin: 0px;
    padding: 0px;

    font-family: 'Ibarra Real Nova', serif;
}

body {
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Popup */
      /*Popup container - can be anything you want */
      .popup {
        position: relative;
        display: inline-block;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      /* The actual popup */
      .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: rgb(200, 200, 200);
        font-family: Arial, Helvetica, sans-serif;
        color: #fff;
        font-size: 15px;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
      }
      
      /* Popup arrow */
      .popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: rgb(200, 200, 200) transparent transparent transparent;
      }
      
      /* Toggle this class - hide and show the popup */
      .popup:hover span {
        visibility: visible;
        -webkit-animation: fadeIn 30ms;
        animation: fadeIn 30ms;
      }
      
      /* Add animation (fade in the popup) */
      @-webkit-keyframes fadeIn {
        from {opacity: 0;} 
        to {opacity: 1;}
      }
      
      @keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
      }

.header {
    display: flex;
}

nav {
    padding-top: 40px;
    width: 896px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFF;
}

.navbar {
    padding-top: 60px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    font-weight: lighter;
    font-size: 25px;
}

.navbar p {
    color: black;
}

.navbar a:hover {
    background-color: #F1F0C0;
    font-style: larger;
}

a:link {
    text-decoration: none;
  }

.about {
    margin-top: 50px;
    width: 896px;
    height: auto;
    font-size: 17px;
    justify-content: space-around;
}
.about h1 {
    margin-bottom: 20px;
}

.about-body {
    margin-bottom: 30px;
    width: 896px;
    height: auto;
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    font-size: 17px;
}

.about-des {
    margin-bottom: 20px;
}

.skills {
    margin-left: 20px;
}

.about-body li {
    margin-bottom: 20px;
}

.about-body img {
    height: 20px;
}
.portrait img {
    width: 376px;
    height: 456px;
    border-radius: 10px;
}

.projects {
    margin-top: 30px;
    width: 896px;
    height: auto;
}

.project-header {
    font-size: 25px;
    color: black;
    background-color: #F1F0C0;
}

.card {
    width: 896px;
    height: auto;
    display: flex;
    flex-direction: row;
}

.font-pro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-left: 20px;
}

.project-icons {
    margin-left: 130px;
    height: 30px;
    float: right;
    justify-content: center;

}

.project-icons img {
    height: 30px;
    width: 40px;
    margin-left: 150px;
}

.big-container {
    display: flex;
}

.git-link {
    color: rgb(107, 107, 107);
}

.work-head {
    margin-top: 50px;
    margin-bottom: 40px;
}

.dot {
    margin-bottom: 20px;
    height: 20px;
    width: 20px;
    background-color: #F1F0C0;
    border-radius: 50%;
}

.line {
    margin-top: -2rem;
    margin-left: 7px;
    height: 110px;
    width: 5px;
    background-color: #F1F0C0;
}

.line-none {
    margin-top: -2rem;
    margin-left: 7px;
    height: 100px;
    width: 5px;
    background-color: #F1F0C0 opacity;
}

.work-experience {
    margin-left: 7.5px;
    padding-left: 20px;
    padding-bottom: 5px;
    font-size: 17px;
}

.work-details {
    margin-top: -8rem;
    margin-left: 10px;
    padding-bottom: 20px;
}

.moreinfo {
    display: flex;
    flex
}
.resume {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    background-color: #F1F0C0;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}
.resume a{
    padding: 10px 0px;
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.resume a:hover {
    color: #F1F0C0;
    background-color: rgb(56, 56, 56) ;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 5px;

}

.linkedin {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
    background-color: rgb(90, 90, 90);
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}

.linkedin img {
    margin-top: 12px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.linkedin a{
    padding: 10px 0px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    color: #FFF;
}

.linkedin:hover {
    color: #FFF;
    background-color: #007EBB;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.nav-img img{
    z-index: 1;
    margin-left: 20px;
    display: flex;
    position: fixed;
    width: 200px;
    height: auto;
}

.contact {
    height: 250px;
    margin-bottom: 50px;

}

.fullname {
    position: absolute;
    left: 28%;
}

.email {
    position: absolute;
    left: 28%;
}

.messages {
    position: absolute;
    left: 28%;
}

.button {
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    margin-top: 100px;
    position: absolute;
    left: 35%;
}

.button:hover {
    background-color: #F1F0C0;
}

hr {
    color:  rgb(90, 90, 90);
    line-height: 2px;
}

footer {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}